html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  display: block;
}

#veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

#progress-bar {
  position: absolute;
  width: 200px;
  height: 5px;
  left: 50vw;
  top: 50vh;
  transition: opacity 0.2s ease;
  transform: translateX(-50%) translateY(-50%);
  background-color: #333;
}

#progress {
  position: absolute;
  width: 0px;
  height: 5px;
  left: 0px;
  top: 0px;
  transition: width 0.2s ease;
  background-color: #848484;
}

#error {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
  color: #FFFFFF;
  visibility: hidden;
}

